<div class="container">
  <header alt="SpaceX Launch Programs header">SpaceX Launch Programs</header>
  <aside>
    <h1>Filters</h1>
    <div>Launch Year</div>
    <div class="filter-container">
      <button *ngFor="let year of filterYears;let i=index" [ngClass]="['button',selectedYear ===  i ? 'button-active' : '']" (click)="changeYear(year,i)">{{year}}</button>
    </div>
    <div>Successful Launch</div>
    <div class="boolean-container">
      <button  *ngFor="let boolean of ['True','False'];let i=index" [ngClass]="['button',selectedLaunch ===  i ? 'button-active' : '']" (click)="changeLaunch(boolean,i)">{{boolean}}</button>
    </div>
    <div>Successful Landing</div>
    <div class="boolean-container">
      <button *ngFor="let boolean of ['True','False'];let i=index" [ngClass]="['button',selectedLand ===  i ? 'button-active' : '']" (click)="changeLand(boolean,i)">{{boolean}}</button>
    </div>
    <button class="button" (click)="filterReset()">Reset Filter</button>
  </aside>
  <main [ngClass]="[loadingIcon? '':'main-container']">
    <span [ngClass]="[loadingIcon? 'loading':'']" *ngIf="loadingIcon"></span>
    <section *ngFor="let mission of missionData">
      <h2>{{mission.mission_name}}&nbsp;#{{mission.flight_number}}</h2>
      <div><label>Mission IDs</label>
        <ul>
          <li *ngFor="let id of mission.mission_id">{{id}}</li>
          <li *ngIf="mission.mission_id.length == 0">None</li>
        </ul>
      </div>
      <p><label>Year:</label>&nbsp;{{mission.launch_year}}</p>
      <p><label>Successful Launch:</label>&nbsp;{{mission.launch_success}}</p>
    </section>
  </main>
  <footer>Pavan Kumar Koilada</footer>
</div>